In [109]:
import pandas as pd
import numpy as np

In [110]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [111]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [112]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [113]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [114]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [115]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [116]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [117]:
result = data.apply(pd.value_counts)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [118]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 8, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    8    4
4    4    3    4

In [119]:
result = data.apply(pd.value_counts)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  1.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0
8  NaN  1.0  NaN

In [120]:
!type ..\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [121]:
type ../examples/ex1.csv

SyntaxError: invalid syntax (<ipython-input-121-9d5dee3de4d8>, line 1)

In [122]:
chunker = pd.read_csv('../examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [123]:
import numpy as np
dates=pd.date_range('1/1/2000',periods=7)
ts=pd.Series(np.arange(7),index=dates)
ts.to_csv('../examples/tseries.csv')
!type ..\examples\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [124]:
!type ..\examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [125]:
import csv
f=open('..\examples\ex7.csv')
reader=csv.reader(f)

In [126]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [127]:
with open('..\examples\ex7.csv') as f:
    lines=list(csv.reader(f))

In [128]:
header,values=lines[0],lines[1:]

In [129]:
header

['a', 'b', 'c']

In [130]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [131]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [132]:
class my_dialect(csv.Dialect):
    lineterminator='\n'
    delimiter='&'
    quotechar='"'
    quoting=csv.QUOTE_MINIMAL
    
f=open('..\examples\ex7.csv')
reader=csv.reader(f,dialect=my_dialect)

In [133]:
for line in reader:
    print(line)

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']

In [134]:
reader=csv.reader(f,delimiter='|')

In [135]:
for line in reader:
    print(line)
f.close()

In [136]:
with open('../examples/mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [137]:
!type ..\examples\mydata.csv

one&two&three
1&2&3
4&5&6
7&8&9

In [138]:
import json

In [139]:
result=json.loads(obj)
result

NameError: name 'obj' is not defined

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
frame=pd.read_csv('../examples/ex1.csv')
frame

In [ ]:
frame.to_pickle('../examples/frame_pickle')

In [ ]:
!dir ..\examples\

In [ ]:
pd.read_pickle('../examples/frame_pickle')

In [ ]:
frame=pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore(../examples/mydata.h5')

In [ ]:
frame = pd.DataFrame({'a': np.random.randn(100)})

store = pd.HDFStore('../examples/mydata.h5')

In [ ]:
frame.head()

In [ ]:
store['obj1'] = frame

store['obj1_col'] = frame['a']

store

In [ ]:
store['obj1']

In [ ]:
store.put('obj2',frame,format='table')

In [ ]:
store.select('object2',where=['index>=10 and index<=15'])

In [ ]:
store.put('obj2', frame, format='table')

In [ ]:
store.select('obj2', where=['index >= 10 and index <= 15'])

In [ ]:
frame.to_hdf('../examples/mydata.h5','obj3',format='table')

In [ ]:
pd.read_hdf('../examples/mydata.h5', 'obj3', where=['index < 5'])

In [ ]:
import pandas as pd
xlsx=pd.ExcelFile('../examples/ex1.xlsx')

In [ ]:
pd.read_excel(xlsx,'Sheet1')

In [ ]:
frame=pd.read_excel('../examples/ex1.xlsx','Sheet1')
frame

In [ ]:
import pandas as pd
import numpy as np
import requests

In [ ]:
url='https://api.github.com/repos/pandas-dev/pandas/issues'

In [ ]:
resp=requests.get(url)

In [ ]:
resp

In [ ]:
data=resp.json()
data[0]['title']

In [ ]:
data[0]

In [ ]:
data

In [ ]:
issue=pd.DataFrame(data,columns=['number','title','labels','state'])
issue

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title', 
                                    'labels', 'state'])
issues

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

In [ ]:
con=sqlite3.connect('../examples/mydata.sqlite')

In [ ]:
con.execute(query)

In [ ]:
con.commit()

In [ ]:
cursor=con.excute('select * from test')

In [ ]:
%reset

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

In [ ]:
con=sqlite3.connect('../examples/mydata.sqlite')

In [ ]:
con.execute(query)

In [ ]:
import sqlalchemy as sqla

In [ ]:
db = sqla.create_engine('sqlite:///../examples/mydata.sqlite')

In [ ]:
pd.read_sql('select * from test', db)

In [ ]:
%reset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
string_data=pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data[0]=None

In [ ]:
string_data.isnull()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
string_data=pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data[0]=None

In [ ]:
string_data.isnull()